:root {

    // 主题色板
    --color-main: #2080F7;
    --color-hover: #519FFF;
    --color-active: #1C55CF;
    --color-success: #27BA9B;
    --color-warning: #E19A30;
    --color-error: #FF4C4C;
    --color-error1: #FF7474;
    --color-error2: #EA3F3F;
    --color-error3: #FFE3E3;
    --color-background1: #EEF0F4;
    --color-background2: #E3E5E9;
    --color-background3: #E1E6F0;
    --color-background4: #C9CDD7;
    --color-background5: #F6F7FA;
    --color-background6:#CDD3E0;
    --color-font1: #19232B;
    --color-font2: #7C7C8A;
    --color-font3: #80878C;
    --color-font4: #D9D9D9;
    --color-font5: #EEEEEE;
    --color-font6: #FFFFFF;
    --color-font7: #D2DBE7;
    --color-black: #000000;
    --color-white: #FFFFFF;

    // 黑色 视频播放页面
    --color-ft1:#A0A9B2;
    --color-ft2:#7A838A
}