:root {
  // 主题色板

  --color-main: #2080f7;
  --color-hover: #83c0ff;
  --color-active: #1c55cf;
  --color-success: #00be76;
  --color-warning: #ffad33;
  --color-error: #d9021c;
  --color-error2: #FD7065;
  --color-error2hover: #da5658;
  --color-fonttip: #FF1B1B;
  --color-background: #f9f9f9;
  --color-background1: #fdfafa;
  --color-btnbackground: #ff734f;
  --color-btnhoverbackground: #f16440;
  --color-tabBtnbackground: #FFEDE9;
  --color-btnselectbackground: #ffebe2;
  --color-btnSubbackground: #f5efef;
  --color-tabheadbackground: #f2ebe5;
  --color-tabbackground: #fdfcfa;
  --color-tabhoverbackground: #f7f3f0;
  --color-rawerbackground: #FAF7F7;
  --color-tabborder: #f5efee;
  --color-bodybackground: #f4f8fb;
  --color-seletebackground: #FAF4EE;
  --color-forbidden: #f3ebeb;
  --color-tabsgbg: #F9F1EA;
  --color-font1: #332929;
  --color-font2: #666666;
  --color-font3: #e9e9eb;
  --color-font4: #bac0cd;
  --color-font5: #887e7e;
  --color-font6: #bdbdbd;
  --color-font7: #333333;
  --color-font8: #e5e4e4;
  --color-font9: #B5ABAB;;
  --color-black: #000000;
  --color-white: #ffffff;
  --font-size12: 12px;
  --font-size13: 13px;
  --font-size14: 14px;
  --font-size16: 16px;
}
